<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>App Template</title>
  <link rel="stylesheet" href="/public/styles.css">
</head>
<body>
  <h2>This is a test</h2>
  <h2>Use render.com to deploy your app</h2>
  <p>Go to <a href="https://www.freecodecamp.org/news/how-to-deploy-nodejs-application-with-render">freeCodeCamp - How to Deploy Your Node.js App Free With Render</a></p>
  <p>Watch <a href="https://www.youtube.com/watch?v=bnCOyGaSe84&ab_channel=CodeBrah">CodeBrah video</a></p>

  <script src="/public/main.js"></script>
</body>
</html>